

.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 100px; */
}
nav{
  width: 100%;
  height: auto;
  display: flex
;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 8rem;
}
.logo{
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.logo h1{
  font-size: 1.9rem;
}
.logo svg{
  font-size: 1rem;
}
.nav-buttons{
  display: flex
  ;
  flex-direction: row;
  column-gap: 3rem;
  align-items: center;
}
.nav-items-mobile{
  display: none;
}
.no-nav-items-mobile{
  display: none;
}
.menu{
  display: none;
}
.no-menu{
  display: none;
}
.cart-bag{
  display: none;
}
.no-cart-bag{
  display: none;
}
.home{}
.home a{
  text-decoration: none;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  background: unset;
  display: flex
  ;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 1.3rem;
}
.home-new{}
.home-new a{
  text-decoration: none;
  background: #DEECE3;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  display: flex
  ;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 1.3rem;
}
.shop-btn{}
.shop-btn a{
  text-decoration: none;
  background: unset;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  display: flex
  ;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 1.3rem;
}
.shop-btn-new a{
  text-decoration: none;
  background: #DEECE3;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  display: flex
  ;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 1.3rem;
}
.about a{
  text-decoration: none;
  background: unset;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  display: flex
  ;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 1.3rem;
}
.about-new a{
  text-decoration: none;
  background: #DEECE3;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  display: flex
  ;
  align-items: center;
  column-gap: 0.3rem;
  font-size: 1.3rem;
}
.link-new{}
.cart{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: none;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.cart-new{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #DEECE3;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
/* .cart-new svg{
  color: black;
  font-size: 1.5rem;
}
.cart svg{
  color: black;
  font-size: 1.5rem;
} */
.notify-icon{
  font-size: 0.5rem;
  display: flex
  ;
  justify-content: center;
  align-items: center;
}
.notify-icon svg{
  color: #3A7563;
  font-size: 0.8rem;
  position: absolute;
}
.notify-icon svg{}
.basket{}
.basket svg{
  color: black;
  font-size: 1.5rem;
}
.basket-new svg{
  color: black;
  font-size: 1.5rem;
}
.carrt{
  display: none;
}
.carrt-new{
  display: none;
}
.baskett{
  display: none;
}
.baskett-new{
  display: none;
}
.nav-items-mobile .cart{
  display: none;
}
.nav-items-mobile .cart-new{
  display: none;
}
@media (max-width: 480px) {
  .nav-buttons{
    display: none;
  }
  .cart-bag{
    display: none;
  }
  .no-cart-bag{
    display: none;
  }
  nav .cart{
    display: none;
  }
  nav .cart-new{
    display: none;
  }
  .nav-items-mobile .cart{

  }
  .nav-items-mobile .cart{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    padding: 0.3rem 0.4rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  .nav-items-mobile .cart-new{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #DEECE3;
    padding: 0.3rem 0.4rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  .carrt{
    display: none;
  }
  .carrt-new{
    display: none;
  }
  .baskett{
    display: none;
  }
  .baskett-new{
    display: none;
  }
  .nav-items-mobile{
    /* position: absolute; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 6rem; */

  }
  .no-nav-items-mobile{
    display: none;
  }
  nav{
    padding: 4rem 2rem;
    align-items: center;
    height: 10rem;
  }
  .menu svg{
    font-size: 1.9rem;
    cursor: pointer;
    
  }
  .logo{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
  }
  .menu{
    display: unset;
  }

  .no-menu{
    display: none;
  }

  .no-logo{
    display: none;
  }

  .close-btn{
    position: absolute;
    top: 1rem;
    right: 3rem;
  }
  .close-btn svg{
    font-size: 2rem;
  }
  
}